@layer base;
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  --font-inter: Inter, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --color-primary: oklch(0.3771 0.0418 179.16);
  --color-secondary: oklch(0.8204 0.126 71.5);
  --color-background: oklch(0.9745 0.0171 84.59);
  --color-text-primary: oklch(0.2362 0.0172 163.06);
  --color-text-secondary: oklch(0.3771 0.0418 179.16);
  --color-text-tertiary: oklch(0.8204 0.126 71.5);
  --color-soft-peach: oklch(0.9075 0.0446 58.41);
  --color-alternative-green: oklch(0.5877 0.0737 157.05);

  --breakpoint-xs: 480px; /* mobile chico */
  --breakpoint-sm: 640px; /* mobile landscape */
  --breakpoint-md: 768px; /* tablet */
  --breakpoint-lg: 1024px; /* laptop */
  --breakpoint-xl: 1280px; /* desktop */
  --breakpoint-2xl: 1536px; /* large desktop */
}
