---
// import { Settings, Rocket, HeartHandshake } from '@lucide/astro';
// import Card from "../components/Card.astro";
// import HeroPage from "../components/HeroPage.astro";
import HeroComingSoon from "../components/HeroComingSoon.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="xs:w-svw xs:pt-5 flex justify-center md:pr-70 md:px-39 md:pt-3 ">
    <HeroComingSoon/>
  </div>
  <!-- <HeroPage />
  <div class="w-full flex flex-row justify-between flex-wrap min-h-75 content-center">
    <Card title="Desarrollo a medida" subtitle="Nada de soluciones genéricas ni plantillas forzadas. Diseñamos y construimos software adaptado a tu negocio, tus procesos y tus objetivos reales.">
      <Settings slot="icon" size={24} />
    </Card>
    <Card iconName='rocket' title="Soluciones que escalan" subtitle="Desarrollamos plataformas sólidas, flexibles y preparadas para crecer junto a tu proyecto, sin limitarte a corto plazo.">
      <Rocket slot="icon" size={24} />
    </Card>
    <Card title="Acompañamiento real" subtitle="Comunicación clara, decisiones compartidas y seguimiento constante. Te acompañamos en todo el proceso, desde la idea inicial hasta la puesta en producción.">
      <HeartHandshake slot="icon" size={24} />
    </Card> 
  </div> -->
</Layout>
