---
import Card from "../components/Card.astro";
import HeroPage from "../components/HeroPage.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <HeroPage />
  <div class="grid grid-cols-12 justify-items-center-safe">
    <Card title="Desarrollo a medida" subtitle="Nada de soluciones genéricas. Construimos lo que tu proyecto necesita"/>
    <Card title="Desarrollo a medida" subtitle="Nada de soluciones genéricas. Construimos lo que tu proyecto necesita"/>
    <Card title="Desarrollo a medida" subtitle="Nada de soluciones genéricas. Construimos lo que tu proyecto necesita"/>
  </div>
</Layout>
