<div class="xs:w-svw md:max-w-160">
  <div>
    <p
      class="font-inter text-text-primary opacity-50 xs:px-4 xs:w-svw xs:text-xs xs:mb-8 md:max-w-160 md:text-base mb-4"
    >
      Desarrollo de software con criterio técnico y visión a largo plazo
    </p>
  </div>
  <div>
    <h1
      class="font-inter font-bold xs:px-4 xs:w-svw xs:text-xl xs:leading-5 md:max-w-160 md:text-3xl md:leading-7 mb-8"
    >
      ESTAMOS CONSTRUYENDO ALGO QUE VALE LA PENA. <br /><br />
      Y ESTÁ PENSADO PARA CRECER CON VOS.
    </h1>
  </div>
  <div>
    <h2
      class="font-poppins xs:px-4 xs:w-svw xs:text-[14px] xs:leading-4 md:max-w-160 md:text-xl md:leading-7 mb-6"
    >
      Muy pronto, Le Pingouin Studio Code estará listo para acompañar el
      crecimiento de tu proyecto con soluciones digitales claras, escalables y
      bien pensadas desde el inicio. <br /><br />Trabajamos con foco en la
      calidad, la sostenibilidad técnica y las necesidades reales de cada
      negocio.
    </h2>
  </div>
  <div>
    <p
      class="font-poppins text-text-secondary opacity-70 xs:px-4 xs:w-svw xs:text-xs md:max-w-160 md:text-sm mb-10"
    >
      Software a medida ✨ Automatizaciones ✨ Soluciones digitales para pymes
    </p>
  </div>
  <div class="xs:px-4">
    <a
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex items-center justify-center font-poppins text-base text-background bg-secondary shadow-xl min-w-64 min-h-14 rounded-xl cursor-pointer mb-3 transition duration-300 ease-in-out hover:-translate-y-1"
      href="https://wa.me/5492996537125?text=Hola%21%20%F0%9F%91%8B%0ASoy%20due%C3%B1o%2Fa%20de%20una%20pyme%20y%20me%20gustar%C3%ADa%20contarles%20brevemente%20mi%20proyecto%20para%20ver%20c%C3%B3mo%20pueden%20ayudarme."
      >Hablemos de tu proyecto</a
    >
  </div>
  <div class="px-4">
    <p class="font-poppins text-xs italic">*Respuesta en menos de 24 h</p>
  </div>
</div>

<script>
  const handleWhatsapp = () => {
    const url =
      "https://wa.me/5492996537125?text=Hola%21%20%F0%9F%91%8B%0ASoy%20due%C3%B1o%2Fa%20de%20una%20pyme%20y%20me%20gustar%C3%ADa%20contarles%20brevemente%20mi%20proyecto%20para%20ver%20c%C3%B3mo%20pueden%20ayudarme.";
    window.location.href = url;
  };
</script>
