---
import { Image } from "astro:assets";
import isologotipo from "../assets/isologotipo.svg";
---

<div class="flex flex-row justify-between items-center">
  <Image class="" src={isologotipo} alt={"Pinguino con una computadora"} width={250}/>
  <nav class="">
    <ul class=" w-full flex gap-20 justify-end">
      <li class="font-poppins font-bold"><a href="/">Inicio</a></li>
      <li class="font-poppins font-bold"><a href="/about">Nosotros</a></li>
      <li class="font-poppins font-bold"><a href="/process">Proceso</a></li>
      <li class="font-poppins font-bold"><a href="/services">Servicios</a></li>
      <li class="font-poppins font-bold"><a href="/projects">Proyectos</a></li>
      <li class="font-poppins font-bold"><a href="/contact">Contacto</a></li>
    </ul>
  </nav>
</div>
